body{
    margin: 0;
}


#pokedex{
    min-height: 50vh;
    background-color: rgb(228, 95, 95);
    color: white;
}

#pokedex h1{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.pokeImg{
    display: flex;
    justify-content: center;
    height: 200px;
}

.info-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 50px;
}

.names{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-right: 16px;
margin-top: 10px;
}

.names b{
    padding-bottom: 5px;
}

.numbers{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left: 16px;
margin-top: 10px;
}

.numbers b{
    padding-bottom: 5px;
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 16px;
    width: 400px;
    margin-top: 10px;
}

.progress{
    margin-bottom: 12.5px;
    width: 400px;
}

.progress-bar{
    color: transparent !important;
}